<%- include('./partials/header') %>
    <script src="../js/blog.js" defer></script>

    <!-- blogs/stories -->
    <h1 class="center"><span class="green-text">Blogs</span> | Stories</h1>
    <div class="row" id="row">
        <% if (typeof blog !="undefined" && blog) { %>
            <% blog.forEach(blog => { %>
                <div class="col s12 m3">
                    <div class="card #a5d6a7 green lighten-4">
                        <div class="card-content white-text">
                            <span class="card-title green-text" style="font-weight:bold;"><%= blog.name %></span>
                            <p class="black-text">
                                <%= blog.content.substring(0, 200)%>...
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="green-text" href="/blogs/<%=blog.name%>">Read More</a>
                        </div>
                    </div>
                </div>
            <% })%>
        <%} %>
    </div>

    <section id="writeBlogSection" class="container">
        <form action="/blogs" method="post">
            <h4>write a blog/story...</h4>
            <div class="row">
                <input type="text" name="composer" placeholder="Title">
            </div>

            <div class="row">
                <textarea name="post" style="min-height:150px;" placeholder="write..."></textarea>
            </div>

            <button type="submit" style="margin-bottom: 1rem;"
                class="btn #a5d6a7 green lighten-3 black-text">Post</button>
        </form>
    </section>

    <button class="btn #a5d6a7 green lighten-3 black-text"
        style="position:fixed; bottom:30px; right:30px; z-index:999; font-weight: bold;" id="writeBlog">Write A Blog</button>

    <%- include('./partials/footer') %>